.heading-intro {
  color: var(--black-color-2)
}

.create-form {
  display: grid;
  gap: var(--space-lg);
  padding: var(--space-2lg);
  background: var(--white-color);
  border-radius: var(--border-radius);
}

.create-form:focus-within {
  box-shadow: var(--shadow);
}

.create-form label {
  font-size: var(--text-md);
  font-weight: 500;
  color: var(--black-color-2);
}

.form-input {
  padding: var(--space-md);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--text-md);
  color: var(--black-color-2);
  background-color: transparent;
}

.form-textarea {
  padding: var(--space-md);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--text-md);
  color: var(--black-color-2);
  background-color: transparent;
  min-height: 250px;
  max-height: 44vh;
  resize: vertical;
  field-sizing: content;
}

.create-form .buttons-container {
  grid-template-columns: 1fr 1fr;
}

/* Markdown hints styling */

details summary {
  opacity: 0.8;
}

details summary:hover {
  opacity: 1;
}

.markdown-help {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  padding: var(--space-sm);
  background-color: var(--white-color-2);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.markdown-item {
  font-size: var(--text-xs);
  color: var(--black-color-4);
  background-color: var(--white-color);
  padding: var(--space-xxs) var(--space-xs);
  border-radius: 4px;
  font-family: monospace;
  white-space: nowrap;
}
/* ------------------------ */

.proposal-card-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--space-lg);
  padding: var(--space-2xl);
  text-align: center;
  color: var(--black-color-3);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}