/* Heading part */
.heading-intro {
  color: var(--text-neutral-base);
}
#selected-group {
  padding: 8px;
  border: 1px solid var(--stroke-neutral-default-subtle);
  border-radius: var(--corner-radius-6);
}
#selected-group img {
  width: clamp(1.563rem, 0.313rem + 3.125vw, 2.813rem);
  height: clamp(1.563rem, 0.313rem + 3.125vw, 2.813rem);
  background: var(--bg-action-container-neutral-soft-default);
  border-radius: var(--corner-radius-rounded);
  flex-shrink: 0;
  object-fit: cover;
}
.proposal-btn-lg-container {
  padding: var(--space-lg);
  border: 1px solid var(--stroke-neutral-default-subtle);
  border-radius: var(--corner-radius-16);
}
.proposal-btn-lg {
  display: flex;
  align-items: center;
  padding: var(--space-sm);
  border-radius: var(--corner-radius-10);
  color: var(--text-neutral-base);
  background: var(--bg-field-container-hover);
  border: 1px solid var(--stroke-neutral-default-subtle);
  cursor: pointer;
}
.proposal-btn-lg-content {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  flex-grow: 1;
}
.proposal-btn-lg img {
  width: 32px;
  height: 32px;
  border-radius: var(--corner-radius-rounded);
  object-fit: cover;
}
.proposal-btn-lg-icon {
  width: 30px;
  height: 30px;
  font-size: var(--text-3xl);
  line-height: 100%;
  text-align: center;
  color: var(--text-neutral-strong);
  background: var(--bg-field-container-hover);
  border-radius: var(--corner-radius-10);
  flex: none;
}
/* -------- */

.proposal-card {
  display: flex;
  gap: var(--space-lg);
  padding: var(--space-2lg);
  background: var(--bg-base-container-default);
  border-radius: var(--corner-radius-16);
  overflow: hidden;
  cursor: pointer;
}
.proposal-card.draft-proposal {
  background: transparent;
  border: 2px solid var(--stroke-neutral-default-subtle);
}
.proposal-card:hover {
  box-shadow: var(--shadow);
}
.proposal-card-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--space-lg);
  padding: var(--space-2xl);
  text-align: center;
  border: 2px solid var(--stroke-neutral-default-subtle);
  border-radius: var(--corner-radius-16);
}
.user-image {
  width: clamp(2.188rem, 1.875rem + 0.781vw, 2.5rem) /* 35px to 40px */;
  height: clamp(2.188rem, 1.875rem + 0.781vw, 2.5rem) /* 35px to 40px */;
  background: var(--bg-action-container-neutral-soft-default);
  border-radius: var(--corner-radius-rounded);
  flex: none;
  overflow: hidden;
  object-fit: cover;
}
.user-name {
  font-weight: 600;
}
.proposal-card-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  width: 100%;
}
.proposal-card-date {
  font-size: var(--text-sm);
  color: var(--text-neutral-base);
}
.proposal-card h3 {
  color: var(--text-neutral-strong);
}
.proposal-card-intro {
  font-size: var(--text-sm);
}
.proposal-card h3, .proposal-card-intro  {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  word-break: break-all;
}
.reaction-item {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-weight: 600;
  user-select: none;
  cursor: pointer;
}
.reaction-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--text-xl);
  height: var(--text-3xl);
}
.reaction-item .icon svg {
  width: var(--text-xl);
  height: var(--text-xl);
}
.reaction-item .icon.active {
  width: var(--text-3xl);
  background-color: var(--white-color-2);
  padding: 4px;
  border-radius: var(--corner-radius-6);
}
.proposal-order-id {
  font-weight: 600;
  color: var(--text-neutral-base);
}
.proposal-card.loader {
  background: transparent;
}
.proposal-card.loader:hover {
  box-shadow: none;
  cursor: default;
}
.spinner {
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}